
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');




  body{
   background-color: rgb(215, 211, 211);
  }
.parent{
   width: 100%;
   height: 100%;
   position: relative;

}


.left_box{
   width: 305px;
   height: 1315px;
   position: absolute;
   top: 10px;
   left: 20px;
background: rgb(255, 255, 255);
border-radius: 5px;

}



.middle_box{
   width: 971px;
   height: 463px;
   position: absolute;
   top: 10px;
   left: 340px;
   background-color: rgb(255, 255, 255);
border-radius: 5px;

}

.right_box{
   width: 108px;
   height: 1315px;
   position: absolute;
   top: 10px;
   right: 10px;
border-radius: 5px;
background-color: rgb(255, 255, 255);


}



.left_box h1{
   font-size: 22px;
   font-family: Inter;
   font-weight: 700;
}

.left_box h2{
   font-size: 20px;
   font-family: Inter;
   font-weight: 400;
   opacity: 80%;
}

.left_box span{
background-color: orange;
font-weight: 500;
}

.keys{
   margin: 10px;
   margin-left: 40px;
}

.value {
   position: relative;
   top: -136px;
   text-align: right;
   margin: 10px;
   font: 18px;
   font-weight: 500;
}

.value div{
margin: 10px;
}

.left_box .box_01{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.box_01 img{
   margin-top: 47px;
}
.user_icons img {
   margin: 5px;
}

.box_01 .margener{
position: absolute;
width: 220px;
height: 0;
left: 47px;
top: 303.25px;
border: 1.5px solid rgb(168, 168, 168);
}
/*                left box 2           */
.box_02 .margener{
   position: absolute;
   width: 220px;
   height: 0;
   left: 47px;
   top: 153.25px;
   border: 1.5px solid rgb(168, 168, 168);
   }
   
.box_02{
   position: relative;
   top: 40px;
}
/*                left box 3           */

.box_03{
   position: relative;
   top: -60px;
}
.box_03 p{
   font-size: 22px;
   margin-left: 40px;
   font-weight: 500;
}

.box_03 div {
   margin-left: 40px;
margin-top: 20px;
color: rgba(118, 118, 118, 1.00);

}

.level {
   margin-left: 40px;
   margin-top: 10px;
   position: relative;
   top: -190px;
   left: 200px;
}
.level div{
margin-top: 20px;
color: rgba(118, 118, 118, 1.00);

}

.margener_4{
   position: relative;
   width: 220px;
   height: 0;
   left: 47px;
   top: -170px;
   border: 1.5px solid rgb(168, 168, 168);
   }

   .box_04 p{
      font-size: 22px;
      margin-left: 40px;
      font-weight: 500;
      position: relative;
   top: -160px;
   }

   .box_04 div {
      margin-left: 40px;
   margin-top: 20px;
   position: relative;
   top: -160px;
   color: rgba(118, 118, 118, 1.00);
   
   }

   .level_4 div{
      margin-left: 40px;
      margin-top: 20px;
      position: relative;
      top: -380px;
      left: 200px;
      color: rgba(118, 118, 118, 1.00);
   }


   .margener_5{
      position: relative;
      width: 220px;
      height: 0;
      left: 47px;
      top: -370px;
      border: 1.5px solid rgb(168, 168, 168);
      }

      .box_05 p{
         font-size: 22px;
         margin-left: 40px;
         font-weight: 500;
         position: relative;
      top: -360px;
      }
      .extraskills{
            margin-left: 40px;
         margin-top: 20px;
         position: relative;
         top: -360px;
      }

      .extraskills div{
      margin-top: 20px;
      color: rgba(118, 118, 118, 1.00);
   }

   /*                   middle box                    */
   /*                   middle box                    */
   /*                   middle box                    */
   /*                   middle box                    */
   /*                   middle box                    */


   .middle_text01{
     font-size: 40px;
width: 350px;
margin-left: 56px;
margin-top: 90px;
font-weight: 550;
   }

   .middle_text02 {
      font-size: 16px;
      text-align: left;
      margin-left: 61px;
margin-top: 17px;
width: 424px;
color: rgb(145, 145, 145);
   }

.middel_btn{
   width: 154px;
   height: 49px;
   background-color: orange;
   color: black;
   border: none;
   border-radius: 10px;
   margin-left: 51px;
   margin-top: 22px;
   cursor: pointer;
}   

.middle_box img{
   Width: 371px;
Height: 463.09px;
Top: -3px;
right: 61px;
position: absolute;
}
.r_b_icon{
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 50px;
}
.r_b_icons{
   width: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 40px;
   margin-top: 170px;
}
.m_b_test{
   width: 400px;
   height: 150px;
   position: relative;
   top: 500px;
   left: 600px;
}

.m_b_test01{
   width: 193px;
   font-size: 32px;
   font-weight: 700;
text-align: center;
margin-left: 100px;

}

.m_b_test02{
   width: 418px;
   height: 68px;
   font-size: 15px;
   font-weight: 400;
   text-align: center;
}

.m_b_box {
   width: 971px;
   height: 463px;
   position: absolute;
   top: 700px;
   left: 330px;
border-radius: 5px;
display: flex;
flex-wrap: wrap;
margin: 10px;
}

.mbb{
   width: 300px;
   height: 225px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: white;
   margin: 10px;
   border-radius: 10px;
}
.m_b_box h1{
   font-size: 18px;
   font-weight: 500;
   margin-top: 20px;
}
.m_b_box p{
   font-size: 15px;
   font-weight: 400;
   margin-top: 20px;
   color: rgb(179, 179, 179);
   width: 250px;
   text-align: center;
}

.m_b_box a{
   color: gold;
}